<div role="main">



    <section class="demo">

        <div class="gridster">
          <ul>
            <% for(var i=0; i<data.length; i++) { %>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            
                <%= data[i] %>
            
        </li>
    <% } %>
            
          </ul>
        </div>

    </section>

      

</div>